.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--header-size) 80px;
  gap: 40px;
}

.about-hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-hero-content-container {
  flex: 1;
}

.about-primary-heading {
  font-weight: 400;
  font-size: var(--about-heading-font-size);
  text-align: center;
}

.about-subheading {
  font-weight: 400;
  font-size: var(--about-subheading-font-size);
  line-height: 38px;
  color: #fff;
  text-align: center;
  opacity: 0.8;
}

.about-our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-our-team-heading {
  font-weight: 400;
  font-size: var(--page-heading-font-size);
  line-height: 40px;
}

.about-our-team-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member-name {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  color: var(--white-color);
}

.team-member-profile {
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.8;
  color: var(--white-color);
}

.contact-us-today-button {
  font-size: var(--button-font-size);
  font-weight: 400;
  background-color: transparent;
  background-image: var(--green-gradient);
  padding: 12px 24px;
  border: none;
  color: var(--black-color);
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

@media (max-width: 1300px) {
  .team-member-image {
    width: 300px;
    height: 300px;
  }
  .about-our-team-container {
    flex-direction: column;
  }
}

@media (max-width: 1090px) {
  .about-container {
    padding: var(--header-size) 40px;
  }
  .about-subheading {
    font-size: var(--about-subheading-medium-font-size);
  }

  .about-hero-image-container {
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
  }

  .hire-us-main-heading {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
  }

  .hire-us-heading {
    font-weight: 800;
    font-size: 26px;
    line-height: 30px;
  }

  .hire-us-subheading {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 650px) {
  .about-container {
    padding: var(--header-size) 20px;
  }
  .about-subheading {
    font-size: var(--about-subheading-small-font-size);
  }

  .team-member-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .team-member-name {
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
    color: var(--white-color);
  }

  .team-member-profile {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.8;
    color: var(--white-color);
  }
  .hire-us-main-heading {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hire-us-heading {
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hire-us-subheading {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact-us-today-button {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .about-primary-heading {
    font-size: 42px;
  }
}
