/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --black-color: #0f0f0f;
  --white-color: #eae9e8;
  --green-color: #2cb226;
  --hover-green-color: #99e752;
  --green-gradient: linear-gradient(
    0deg,
    var(--green-color),
    var(--hover-green-color)
  );
  --nav-font-size: 20px;
  --nav-tablet-font-size: 20px;
  --nav-tablet-font-size: 14px;
  --header-size: 60px;
  --header-massive-font-size: 105px;
  --subheader-massive-font-size: 36px;
  --button-font-size: 18px;
  --button-mobile-font-size: 18px;
  --header-big-font-size: 68px;
  --subheader-big-font-size: 28px;
  --header-font-size: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--black-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  z-index: 10;
}

header .header {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header .logo {
  width: 120px;
  margin: 0px 80px;
  padding-top: 10px;
}

.header .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
  align-items: baseline;
  margin-bottom: 0px !important;
}

.header a {
  color: var(--white-color);
  font-size: var(--nav-font-size);
  text-decoration: none;
  transition: 0.2s ease;
}

.header a:hover {
  color: var(--hover-green-color);
}

.header .logo:hover {
  color: black;
}

.header a[aris-current="page"] {
  color: var(--green-color);
}

.header a[aris-current="page"]:hover {
  color: var(--hover-green-color);
}

.header-main {
  background-color: var(--black-color);
}

.header-button {
  font-size: var(--button-font-size);
  font-weight: 500;
  background-color: transparent;
  background-image: var(--green-gradient);
  padding: 12px 24px;
  border: none;
  color: var(--black-color);
  cursor: pointer;
  border-radius: 6px;
  margin: 20px 80px 20px 0px;
}

#close-menu-btn {
  color: var(--green-color);
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
}

#hamburger-btn {
  color: var(--green-color);
  cursor: pointer;
  display: none;
}

.hero-section {
  margin-top: var(--header-size);
}

.hero-section .content {
  width: 100%;
  min-height: 100vh;
}

.footer {
  background-color: var(--black-color);
  color: var(--white-color);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.footer-brand-content-description {
  width: 90%;
}

.footer-brand-content {
  flex: 1;
}

.footer-quick-links {
  flex: 1;
}

.our-services-links {
  flex: 1;
}

.footer-copyright {
  font-weight: 300;
  font-size: 16px;
}

.footer-quick-links > ul > li > a {
  text-decoration: none;
  color: var(--white-color);
}

.footer-quick-links > ul > li > a:hover {
  color: var(--green-color);
}

.gradient-text {
  background: var(--green-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-logo {
  width: 200px;
}

.padding-top-30 {
  padding: 30px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-top-60 {
  margin-top: 60px;
}

@media (max-width: 1240px) {
  .header-button {
    font-size: var(--nav-tablet-font-size);
  }
  .header a {
    font-size: var(--nav-tablet-font-size);
  }
}

@media (max-width: 1090px) {
  header {
    padding: 10px;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .header .logo {
    margin-left: 20px;
  }

  .header a[aris-current="page"] {
    color: var(--green-color) !important;
  }

  .header a[aris-current="page"]:hover {
    color: var(--hover-green-color) !important;
  }

  #hamburger-btn,
  #close-menu-btn {
    display: block;
  }

  .header .menu-links {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: var(--black-color);
    flex-direction: column;
    padding: 70px 40px 0;
    transition: right 0.2s ease;
  }

  .header .menu-links > li > a {
    color: var(--white-color);
  }

  .header .menu-links .header-button {
    font-size: 12px;
    width: max-content;
  }

  header.show-mobile-menu .header .menu-links {
    right: 0;
  }

  .header a {
    color: #000;
  }

  .footer {
    flex-direction: column;
    gap: 40px;
  }

  .footer-brand-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-brand-content-description {
    width: 100%;
  }

  .footer-logo {
    width: 120px;
  }

  .footer-brand-content {
    flex-direction: column;
    align-items: baseline;
  }
}
